[Unit]
Description=Run Docker Monitor every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Unit=docker-monitor.service

[Install]
WantedBy=timers.target

