[Unit]
Description=Docker Health Monitor and Email Alert
Wants=network-online.target
After=network.target network-online.target docker.service

[Service]
Type=oneshot
EnvironmentFile=/opt/docker-monitor/docker-monitor.env
WorkingDirectory=${DOCKER_MONITOR_DIR}
ExecStart=${DOCKER_MONITOR_DIR}/venv/bin/python ${DOCKER_MONITOR_DIR}/monitor_and_alert.py
StandardOutput=append:${DOCKER_MONITOR_DIR}/monitor.log
StandardError=append:${DOCKER_MONITOR_DIR}/monitor.log
User=fu
Group=fu
